<div id="main-visual">
  <div class="main-visual__text">
    <h3>捨てる物。記録共有サイト</h3>
    <p>日々、様々な物と出会い、必要がなくなったら手放す。<br>
    そんな日常の小さな瞬間を<br>感謝の気持ちとともに投稿してみませんか。<br>
    <ruby>餞<rt>はなむけ</rt></ruby>の花束を添えて、お別れ会を彩りましょう。<br>
    手放すことは、過去を閉じるのではなく、<br>
    新たな思い出を生み出すための一歩なのです。</p>
  </div>
</div>

<%= render 'public/posts/search-form' %>
<h2 style = "margin-left: 20px" >新着投稿</h2>
<%= render 'public/posts/index',posts: @posts %>