<div class="admin-content">
  <h3>遺言登録</h3>
  <div class="post_form">
    <%= render 'form', message: @message, url: admin_messages_path, submit: '登録' %>
  </div>
  <p>遺言はお別れ会ページにてランダムで表示されます。</p>
  <div>
    <table>
      <thead>
        <tr>
          <th>遺言</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.message %></td>
            <td style="white-space: nowrap;">
              <%= link_to "編集/削除", edit_admin_message_path(message) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>