/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
 	min-height: 100vh;
}

main{
  flex: 1;
}

/*-----ヘッダー-----*/
header {
  margin-bottom: 10px;
}

.logo img {
  max-width: 300px;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
  list-style: none;
  font-size: 20px;
}

nav li {
  text-align: center;
  border-right: 1px solid #000;
  flex: 1 0 auto;
}

nav li:first-child {
  border-left: 1px solid #000;
}

nav li a {
  display: block;
  line-height: 36px;
  color: #333;
  padding: 2px;
  transform: scale(1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  background-color: #eee;
  transform: scale(1.07);
}

#main-visual {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

#main-visual img {
  width: 100%;
  max-height: 37em;
}

.main-visual__text {
  position: absolute;
  left: 31%;
  top: 20%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  text-align: left;
}

.overlay-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 16px;
}

/*-----投稿一覧-----*/
.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 10px;
  place-items: center;
}

.post-list__item {
  width: 15em;
  height: 15em;
  margin: 1em;
  position: relative;
}

.post-list__item img {
  width: 100%;
  height: 82%;
  object-fit: contain;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.post-list__title,
.post-list__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-list__title {
  font-size: 15px;
  margin-top: 2px;
}

.post-list__description {
  color: gray;
  font-size: 13px;
}

.post-list__link {
  color: inherit; /* リンクのテキストカラーを親要素の色に合わせる */
  display: block;
  transition: opacity 0.3s; /* ホバー時のトランジションを追加 */
}
/* ホバー時のスタイル */
.post-list__link:hover {
  opacity: 0.6; /* ホバー時に若干透明度を下げる */
}

.post-list__paginate{
  margin-top: 10px;
}

.pagination{
  text-align: center;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  padding: 8px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  background-color: rgba(129, 129, 129, 0.5);
  color: #FFF;
  border-radius: 20%;
}

/* 現在のページの数字についての表記 */
.current{
  padding: 8px 4px 8px 8px;
  background-color: #818181;
  color: #FFF;
  border-radius: 20%;
}

/* 最後のページ番号が現在のページの場合 */
.current:last-child {
  padding-right: 8px; /* 最後の数字のみ右パディングを適用 */
}

.search-content h2,
.search-content h3,
.search-content p {
  margin-left: 20px;
}

/* -----投稿詳細----- */
.post-detail {
  display: flex;
  max-width: 1000px;
  margin: 10px auto;
}

.post-detail__image {
  width: 50%;
}

.post-detail__image img{
  width: 100%;
  object-fit: contain;
  border-radius: 5px;

}

.post-detail__content {
  width: 50%;
  margin-left:20px;
}

.post-detail__title {
  font-weight: bold;
}

.post-detail__description {
  margin: 1em auto;
  padding: 2em;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}

.description__title {
  background-color: gray;
  font-size: 14px;
  color : white;
  padding: 7px 10px;
  line-height: 1;
  position:absolute;	/* 配置(ここを動かす) */
  top: -10px; /*上から（0px）移動*/
  left: 30px; /*左から(0px)移動*/
}

.flower-content {
  text-align: right;
}

.flower-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.flower-text {
  font-size: 17px;
  color: gray;
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}


.post-detail__user-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-info__avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.user-info__details {
  margin-left: 20px;
}

.user-info__name {
  font-weight: bold;
  font-size: 20px;
}

.user-info__post-date {
  color: gray;
  font-size: 12px;
}

/* 編集ボタン*/
.edit-button-container {
  text-align: right;
}

.edit-btn {
  padding: 10px 20px;
  color: #e83929;
  border: 1px solid #e83929;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: #e83929;
  color: #fff;
}

.login-btn{
  text-align: center;
  margin-top: 30px;
}

.admin-btn{
  text-align: center;
  margin-top: 30px;
}

.post-detail__comment {
  margin-top: 40px;
}

.comment__list {
  display: flex;
  margin-bottom: 20px;
}

.comment__user-avatar {
  margin-right: 10px;
}

.comment__user-avatar img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.comment__details {
  flex-grow: 1;
}

.comment__user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size:16px;
}

.comment__text-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.comment__date {
  font-size: 12px;
  color: gray;
}

.comment__form{
  text-align: right;
}

.comment__form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

/* マイページのスタイル */
.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.user-image {
  margin: 5px;
  margin-bottom: 15px;
}

.user-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.user-edit-btn {
  padding: 10px 20px;
  background-color: #a0a0a0;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-edit-btn:hover {
  background-color: #808080;
  color: #fff;
}


/*---新規（編集）投稿フォーム---*/
.form_title{
  text-align:center;
  margin-top: 20px;
}

.post_form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.form_field{
  margin-bottom: 20px;
}

.form_submit{
  text-align: center;
}

.submit-btn {
  width: 70%;
  height: 40px;
  font-size: 16px;
  background-color: #a0a0a0;
  color: white;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

/* ボタンにホバーしたときのスタイル */
.submit-btn:hover {
  background-color: #808080;
}

.red-btn{
  width: 70%;
  height: 40px;
  color: #e83929;
  border: 1px solid #e83929;
  transition: background-color 0.3s;
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
}

.red-btn:hover {
  background-color: #e83929;
  color: #fff;
}

/*---管理者側会員一覧画面---*/
.admin-content{
  margin: 10px auto;
  text-align: center;
  max-width: 800px;
}


table {
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%; /* テーブル幅を100%に設定 */
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: gray;
  color: white;
}

/* 偶数行の背景色を交互に設定 */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 行間を調整 */
tbody {
  line-height: 1.5;
}

.table-row {
  font-size: 12px;
}

.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 20px;
    }

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 10px;
}

.search-input {
  margin-right: 10px;
  font-size: 4px;
}

.search-button {
  white-space: nowrap;
}

.report_reason {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  padding: 3em;
  text-align: center;
}