/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
 	min-height: 100vh;
}

main{
  flex: 1;
}
/*-----ヘッダー-----*/
header {
  margin-bottom: 10px;
}

.logo img {
  max-width: 300px;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
  list-style: none;
  font-size: 20px;
}

nav li {
  text-align: center;
  border-right: 1px solid #000;
  flex: 1 0 auto;
}

nav li:first-child {
  border-left: 1px solid #000;
}

nav li a {
  display: block;
  line-height: 36px;
  color: #333;
  padding: 2px;
  transform: scale(1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  background-color: #eee;
  transform: scale(1.07);
}


#main-visual {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

#main-visual img {
  width: 100%;
  max-height: 37em; /* 適切な値を設定 */
}

.overlay-text {
  position: absolute;
  left: 31%;
  top: 20%;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  text-align: left;
}



.overlay-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 16px;
}

/*-----投稿一覧-----*/
.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 10px;
  place-items: center;
}

.post-list__item {
  width: 15em;
  height: 15em;
  margin: 1em;
  position: relative;
}

.post-list__item img {
  width: 100%;
  height: 82%;
  object-fit: contain;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.post-list__title,
.post-list__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-list__title {
  font-size: 15px;
  margin-top: 2px;
}

.post-list__description {
  color: gray;
  font-size: 13px;
}

.post-list__link {
  color: inherit; /* リンクのテキストカラーを親要素の色に合わせる */
  display: block; /* リンクをブロック要素に変更して全体をクリック可能に */
  transition: opacity 0.3s; /* ホバー時のトランジションを追加 */
}
/* ホバー時のスタイル */
.post-list__link:hover {
  opacity: 0.6; /* ホバー時に若干透明度を下げる */
}

.post-list__paginate{
  margin-top: 10px;
}

.pagination{
  text-align: center;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  padding: 8px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  background-color: #818181;
  color: #FFF;
  border-radius: 20%;
}

/* 現在のページの数字についての表記 */
.current{
  padding: 8px 4px 8px 8px;
  background-color: #818181;
  color: #FFF;
  border-radius: 20%;
}

/* 最後のページ番号が現在のページの場合 */
.current:last-child {
  padding-right: 8px; /* 最後の数字にのみ右パディングを適用 */
}

/* -----投稿詳細----- */
.post-detail {
  display: flex;
  max-width: 1000px;
  margin: 10px auto;
}

.post-detail__image {
  width: 50%;
}

.post-detail__image img{
  width: 100%;
  object-fit: contain;
  border-radius: 5px;

}

.post-detail__content {
  width: 50%;
  margin-left:20px;
}

.post-detail__title {
  font-weight: bold;
}

.post-detail__description {
  margin: 1em auto; /* ボックスの余白 */
  padding: 2em;
  position: relative;
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* 影を追加する */
  background-color: #f0f0f0;
}

.description__title {
  background-color: gray; /* タイトル背景色 */
  font-size: 14px;/* タイトル文字の大きさ */
  color : white;
  padding: 7px 10px;/*タイトルの余白*/
  line-height: 1;/*タイトルの行の高さ*/
  position:absolute;	/* 配置(ここを動かす) */
  top: -10px; /*上から（0px）移動*/
  left: 30px; /*左から(0px)移動*/
}

.flower-content {
  text-align: right;
}

.flower-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.flower-text {
  font-size: 17px;
  color: gray;
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}


.post-detail__user-info {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  margin-bottom: 15px;
}

.user-info__avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.user-info__details {
  margin-left: 20px; /* プロフィール画像との間隔を調整 */
}

.user-info__name {
  font-weight: bold;
  font-size: 20px;
}

.user-info__post-date {
  color: gray;
  font-size: 12px;
}

/* 編集ボタン*/
.edit-button-container {
  text-align: right; /* ボタンを右寄せにする */
}

.edit-button {
  padding: 10px 20px;
  color: #e83929;
  border: 1px solid #e83929;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* ホバー時のスタイル */
.edit-button:hover {
  background-color: #e83929;
  color: #fff;
}

.post-detail__comment {
  margin-top: 40px;
}

.comment__list {
  display: flex;
  margin-bottom: 20px;
}

.comment__user-avatar {
  margin-right: 10px;
}

.comment__user-avatar img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.comment__details {
  flex-grow: 1;
}

.comment__user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size:16px;
}

.comment__text-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.comment__date {
  font-size: 12px;
  color: gray;
}

.comment__form{
  text-align: right;
}

.comment__form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

/* マイページのスタイル */
.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mypage-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-image {
  margin: 5px;
}

.user-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.edit-profile-button,
.change-password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  padding: .5em 1em;
  box-shadow: inset -1px -1px #333, inset 1px 1px #fff, inset -2px -2px #999, inset 2px 2px #ffffff;
  background-color: #d6d6d6;
  color: #333;
  font-size: 13px;
  outline: 1px dotted #333;
  outline-offset: -4px;
}

.edit-profile-button:hover,
.change-password-button:hover {
  background-color: #c0c0c0;
  opacity: 0.8;
}



input[type="text"] {
        width: 300px;
        height: 2em;
    }

input[type="password"] {
        width: 300px;
        height: 2em;
    }

input[type="submit"] {
        width: 70px;
        height: 2em;
    }

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 10px;

}

.search-input {
  margin-right: 10px;
  font-size: 4px;
}

.search-button {
  white-space: nowrap;
}

footer {
  padding: 3em;
  text-align: center;
}